<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Back End</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            p {text-align: center;}
            form {width: 100%; text-align: center;}
            input {width: 70%}
        </style>
    </head>
    <body>
        <p>Add question</p>
        <form action="/addQuestion", method="POST">
            <p>question</p>
            <input type="text" name="add question" id="question">
            <p>all answers</p>
            <input type="text" name="add all answers" id="AllAnswer">
            <p>correct answer</p>
            <input type="text" name="add answer" id="answer">
            <input type="submit" value="Add question">
        </form>
    </body>
</html>