<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body {
          background-image: url('https://images8.alphacoders.com/806/806076.jpg');
        }
        </style>
    <h1 style="text-align:center;font-size:300%;font-family:verdana;color:whitesmoke;">The BEST quiz</h1>: 
    <p style="text-align:center;color:whitesmoke;font-size: 150%;">On this spectacular quiz you can answer some awesome questions </p>:::
    <p align="center">
    <a href="http://localhost:5000/question"><button type="button" style="background-color:burlywood;margin-top:4%;margin-bottom:0%;height: 100px;;width: 300px;font-size: 200%;"> Start</button>
        </p>
        <iframe src="https://giphy.com/embed/xUOxfjsW9fWPqEWouI" width="960" height="600" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </a>
    </body>
    </html>
    
