<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body {
          background-image: url('https://images8.alphacoders.com/806/806076.jpg'); align-items: center;
        }
        .container {
          display: flex;
          align-items: center; 
         padding-left: 10px;
        }
        .page {align-items: center; padding-top: 20px;}
        img{
          margin-left: 15px ;
          margin-right: 15px;
        }
        </style>
</head>
          <body>
            <div class="page">
            <h1 style="text-align:center;font-size:300%;font-family:Garamond
            ;color:whitesmoke;">The BEST quiz</h1>: 
            <p style="text-align:center;color:whitesmoke;font-size: 150%;font-family: Garamond;">On this spectacular quiz you can answer some awesome questions </p>:::
            <p align="center">
            <form action="http://localhost:5000/question">
              <input style="background-color:whitesmoke;margin-top:2%;margin-bottom:0%;height: 100px;;width: 300px;font-size: 200%;" type="submit" value="Begin" />
            </form>
            </p>
            <div class="container">
              <div class="image"> <img src="https://media.istockphoto.com/id/1398132096/vector/question-mark-icon.jpg?s=612x612&w=0&k=20&c=pugL7du4lXu_GVox1Zl_k_TFev6FrTCaMoeaJd8q9tI=" alt="This is my image." height="400px"/> </div> 
              <div class="image"> <img src="https://media.tenor.com/s_nt8avmQ_0AAAAC/mario-block.gif" alt="This is my second image." height="400px"/> </div> 
             <div class="image"> <img src="https://cdn.create.vista.com/api/media/small/12630009/stock-photo-3d-man-with-blue-question-mark-over-white-background" alt="My third image." height="400px"/> </div> 
            </div>  
          </div>

    </body>
    </html>
    
