<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Questions</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <p>{{ Question.Question }}</p>
        <p>{{ Question.Answers }}</p>
        <form action="/question", method="POST">
            <input type="text" name="answer" id="answer">
            <input type="submit" value="Enter Answer">
        </form>
        <form action="http://localhost:5000/question">
            <input type="submit" value="Begin" />
        
    </body>
</html>